
<ul class="norm-ul c-forecast-list">

  <li 
    *ngFor="let item of foreCastList"
    class="l-flex-column l-align-center t-xPad--med t-yPad--small c-forecast-item"
  >
    <h3 class="norm-title fs-20">
      {{ item.Date | date : 'E' }}
    </h3>

    <hwt-icon class="l-block t-radial bg-white c-forecast-item-icon" [icon]="item.Day.Icon" [alt]="item.Day.IconPhrase"></hwt-icon>
      <div class="c-forecast-item-text">
        <div>
          {{ item.Day.IconPhrase }}
        </div>
        <hwt-deg-range
          [minValue]="item.Temperature.Minimum.Value"
          [maxValue]="item.Temperature.Maximum.Value"
        ></hwt-deg-range>
      </div>
  </li>
</ul>