
.bg-grey-l {
    background-color: $c-grey-l;
    color: $c1;
}
.bg-grey-d {
    background-color: $c-grey-d;
    color: #fff;
}
.bg-white {
    background-color: #fff;    
}
.bg-red {
    background-color: $c-red;
    color: #fff;
}

.c-grey-l {
    color: $c-grey-l;
}
.c-grey-d {
    color: $c-grey-d;
}
.c-red {
    color: $c-red;
}
.c-c1 {
    color: $c1;
}
.fs-20 {
    font-size: running(20);
}
.fs-30 {
    font-size: running(30);
    @media(max-width: $mq-mobile ){
        font-size: 1.35em;
    }
}
.fs-40 {
    font-size: running(40);
    @media(max-width: $mq-mobile ){
        font-size: 1.44em;
    }
}
.fs-50 {
    font-size: running(50);
}
.fs-70 {
    font-size: running(70);
}

.fw-thin {
    font-weight: $fw-thin;
}
.fw-regular {
    font-weight: $fw-regular;
}
.fw-medium {
    font-weight: $fw-medium; 
}
.fw-bold {
    font-weight: $fw-bold;
}
.fw-extraBold {
    font-weight: $fw-extraBold;
}
.fw-black {
    font-weight: $fw-black;
}
.t-space {
    min-width: running( $pad );
    min-height: running( $pad );
}
.t-space--med {
    min-width: running( $pad-med );
    min-height: running( $pad-med );
}
.t-space--small {
    min-width: running( $pad-small );
    min-height: running( $pad-small );
}

.t-xPad--med , %t-xPad--med {
    padding-right: running( $pad-med );
    padding-left: running( $pad-med );
}
.t-yPad--med, %t-yPad--med {
    padding-top: running( $pad-med );
    padding-bottom: running( $pad-med );
}
.t-yPad--small, %t-yPad--small {
    padding-top: running( $pad-small );
    padding-bottom: running( $pad-small );
}
.t-focus, %t-focus {
    outline: none;
    &:focus {
        box-shadow: 0px 0px 5px 0px rgba($c-grey-d, 0.65);
    }
}
%t-shadow, .t-shadow {
    box-shadow: 0px 0px 8px 0px rgba( 0, 0, 0, 0.09 );
}

.t-button {
    @extend %t-focus;
    background-color: $c-btn;
    color: #fff;
    border-radius: 5000px;
    padding: running(4) running(14);
    &:hover {
        background-color: darken( $c-btn, 10 ); 
    }
}
.t-borderBottom {
    border-bottom: 4px solid $c1;
}
.t-grid {
    display: grid;
    grid-gap: running( $pad-med ) running( $pad-med );
}
.t-grid--5 {
    grid-template-columns: repeat(5, 1fr);
    @media ( max-width: 1130px ){
        grid-template-columns: repeat(4, 1fr);
    }
    @media ( max-width: $mq-tablet ){
        grid-template-columns: repeat(3, 1fr);
    }
    @media ( max-width: $mq-mobile ){
        grid-template-columns: auto;
    }
}
.t-grid--4 {
    grid-template-columns: repeat(4, 1fr);
    @media ( max-width: $mq-mobile ){
        grid-template-columns: repeat(2, 1fr);
    }
}
.t-grid--3 {
    grid-template-columns: repeat(3, 1fr);
    @media ( max-width: $mq-mobile ){
        grid-template-columns: repeat(2, 1fr);
    }
}
.t-rad {
    border-radius: running( $rad );
}
.t-radial {
    @extend %l-align-center;
    border-radius: 50%;
    padding: running($pad-small);
}
a.t-linkBox {
    &:hover {
        color: inherit;
        background-color: lighten($c-grey-m,24);
    }
}
.t-linkBox-icon {
    width: running( 100 );
    height: running( 100 );
    flex-shrink: 0;
    display: block;
    box-shadow: $shadow-focus;
}
.t-nav-control {
    @extend %norm-a;
    position: relative;
    white-space: nowrap;
    transition: background-color 200ms ease-out;
    border-bottom: 1px solid $c-grey-l;
    margin-bottom: -1px;
    color: inherit;
    color: $c1;
    &:last-child  {
        border-right-color: transparent;
    }
    @media (min-width: $mq-mobile){
        &:hover {
            background-color: $c-grey-l;
        }
    }
    &.is-active {
        color: $c-red;
    }
    .t-space {
        min-width: running($navbar-cubic);
        min-height: running($navbar-cubic);
    }
}


.t-mainTitle {
    font-size: running(38);
    font-weight: $fw-light;
    margin: 0;
}

.t-row {
    margin-bottom: running( $pad );
}
.t-row--med {
    margin-bottom: running( $pad-med );
}
.t-row--small {
    margin-bottom: running( $pad-small );
}
@media (min-width: $mq-mobile ){
    .is-onMobile {
        display: none;
    }
    .vw1 {
        font-size: 1vw;
    }
    
}
@media (max-width: $mq-mobile ){
    .t-mainTitle {
        font-size: 1.6em;
    }
}