//colors
$c-blue: #01579B;
$c1: darken( $c-blue, 30 );
$c-btn: $c1;
$c-dark: #4C4452;
$c-grey-d : #293f3b;
$c-grey-m: #B6BBBF;
$c-grey-l: #212121;
$c-red: #F7617E;
$c-azure: #E0F7FA;

//font weights
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-extraBold: 800;
$fw-black: 900;
//measurements

$pad : 36px;
$pad-med : 15px;
$pad-small : 10px;
$input-height: 35px;
$rad : 6px;
$navbar-cubic: 60px;
$navbar-width: 220px;

// sdiebar reveal

$fs-default : 14px;
$fs-btn: 16px;
$fs-large: 18px;


$shadow-focus: 0px 0px 15px 0px rgba(0,0,0,0.2);
$shadow-focus-c1: 0px 0px 20px 0px rgba($c1,0.2);

$mq-tablet: 900px;
$mq-mobile: 760px;

@function running($fs) {
	@return em($fs-default,$fs);
}
