<nav class="c-navbar">
  <div class="c-navbar-width">
    <hwt-nav-item-set class="t-borderBottom c-navbar-routeList">

      <hwt-nav-item
        [link]="'/main'"
        [icon]="'home'"
        [label]="'Home'"
        (click)="closeSidebar()"
      ></hwt-nav-item>

      <hwt-nav-item
        [link]="'/favorites'"
        [icon]="'heart'"
        [label]="'Favorites'"
        (click)="closeSidebar()"
      ></hwt-nav-item>

    </hwt-nav-item-set>

    <hwt-nav-item-set>

      <hwt-nav-item
        [label]="'Celsius'"
        (onClick)="toggleDegUnit('celsius')"
      ></hwt-nav-item>

      <hwt-nav-item
        [label]="'Fahrenheit'"
        (onClick)="toggleDegUnit('fahrenheit')"
      ></hwt-nav-item>

    </hwt-nav-item-set>
    <hwt-nav-item-set>

      <hwt-nav-item
        [label]="'Light mode'"
        [icon]="'sun'"
        (onClick)="toggleDarkmode( false )"
      ></hwt-nav-item>

      <hwt-nav-item
        [label]="'Dark mode'"
        [icon]="'moon'"
        (onClick)="toggleDarkmode( true )"
      ></hwt-nav-item>

    </hwt-nav-item-set>
      
  </div>

</nav>