<h1 class="l-align-top t-row--small t-mainTitle">
  
  <i *ngIf="currentWeather.isFavorite" class="c-red fas fa-heart">&nbsp;</i>
  
  <span>
    Current weather in {{ currentLocation.name }}
  </span>
  
</h1>

<div class="t-row l-align-top c-currentWeather">
  <div class="l-align-bottom l-flex-wrap l-cell-spread c-currentWeather-data">
    
    <div class="c-blue l-align-top c-currentWeather-temperature">
      {{ currentWeather.Temperature.Imperial.Value | celsiusFarenHeitToggler : degUnit }}
      <span class="c-currentWeather-temperature-unitType">&deg;{{ degUnit === 'fahrenheit' ? 'F': 'C' }}</span>
    </div>

    <div class="l-cell-spread-x l-nowrap t-xPad--med c-currentWeather-degrees">
      <hwt-icon 
        class="l-block c-currentWeather-icon"
        [icon]="currentWeather.WeatherIcon"
        [alt]="currentWeather.WeatherText"
      ></hwt-icon>
  
      <h2 class="norm-title c-c1 c-currentWeather-weatherText">
        {{ currentWeather.WeatherText }}
      </h2>
    </div>

  </div>
  
  <button
    *ngIf=" ! currentWeather.isFavorite" 
    class="c-currentWeather-addToFavorites"
    (click)="addToFavorites()"
  >
    <i class="fas fa-heart"></i>
    Add to favorites
  </button>

  <button
    *ngIf=" currentWeather.isFavorite" 
    class="c-currentWeather-addToFavorites"
    (click)="removeFromFavorites()"
  >
    <i class="fas fa-heart-broken"></i>
    Remove to favorites
  </button>

</div>