.c-autoComplete-wrap {
    max-width: 100%;
    width: running( 420 );
    height: running( $pad );
    border: 1px solid;
    border-radius: 5000px;
    position: relative;
    margin: running( $pad-med ) auto;
    .ui-autocomplete {
        display: inline;
        padding: 0;
        input {
            @extend %t-focus;
            width: 100%;
            height: 100%;
            position: relative;
            background-color: transparent;
            border: none;
            z-index: 1;
            padding: running(2) running($pad-small);
            padding-left: running( $pad + $pad-small );
            border-radius: 5000px;
            color: inherit;
            @include placeholder( inherit );
            &:focus {
                @include placeholder( transparent );
            }
        }
    }
}
.c-autoComplete-icon {
    @extend %l-align-center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: running( $pad );
    text-align: center;
}