.c-topBar {
    position: relative;
    z-index: 9999;
    .t-navItemSet,
    .t-nav-control {
        height: 100%;
    }
}
.c-topBar-mainMenu-control {
    .t-nav-control {
        margin-bottom: 0;
        border-bottom: none;
        &:before {
            display: none;
        }
        &.is-active {
            color: inherit;
        }
    }
}
@media ( max-width: $mq-mobile ){
    .c-topBar {
        box-shadow: $t-shadow;
    }
    .c-topBar-content {
        padding-left: 0;
        padding-right: running($pad-small);
        transform: translateX(-100%);
        transition: transform 400ms ease-out;
        .c-autoComplete-wrap {
            margin: 0;
        }
        hwt-location-search {
            order: -1;
        }
        .c-header-title, hwt-location-search {
            min-width: 100%;
            margin-right: running($pad-small);
        }
    }
    .is-searhOpen .c-topBar-content {
        transform: translateX(0);
    }

    .c-topBar-mainMenu-control .t-nav-control {
        .t-navItem-icon {
            min-width: 0;
            min-height: 0;
            padding: running( $pad-small );
        }
    }
}
