<article *ngIf="favoriteList && favoriteList.length">
  <h1 class="t-mainTitle">
    Your Favorite weathers
  </h1>
  <div class="t-row--med"></div>
  <nav class="norm-ul t-grid t-grid--3 c-favorites vw1">

    <a 
      *ngFor="let item of favoriteList"
      routerLink="/main/{{item.key}}/{{item.name}}"
      class="l-block t-xPad--med t-yPad--med c-c1 t-shadow t-linkBox"
    >

      <div class="l-pos-relative l-align-bottom t-linkBox-frame">

        <hwt-icon class="t-radial bg-white t-linkBox-icon" [icon]="item.WeatherIcon" [alt]="item.WeatherText"></hwt-icon>
    
        <button 
          (click)="removeFromFavorites( $event, item )"
          class="c-red l-pos-abs-topRight c-favorites-remove"
          pTooltip="Remover from favorites"
          tooltipPosition="bottom"
        >
          <i class="fas fa-heart-broken"></i>
        </button>
        <div class="t-space--small"></div>
        <div class="l-cell-spread t-linkBox-data">
          <h2 class="norm-title l-cell-spread fw-thin fs-25">
            {{ item.name }}
          </h2>
  
          <hwt-deg-range
            class="fs-20"
            [minValue]="item.Temperature.Imperial.Value"
          ></hwt-deg-range>
        </div>
          
      </div>


    </a>
  </nav> 
</article>

<ng-container *ngIf="favoriteList && ! favoriteList.length">

  <h1 class="t-mainTitle">
    <i class="far fa-surprise"></i>
    No favorites yet?
  </h1>
  <div class="t-row--med"></div>
  <p class="fs-20">
    <i class="far fa-snowflake"></i>
    Start here by adding some special snowflakes:
  </p>
  <hwt-location-search class="l-ib"></hwt-location-search>
</ng-container>